.main {
  padding: 40px;
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  display: flex;
  margin-bottom: 24px;
  justify-content: space-between;
}

.wrapper-input {
  gap: 10px;
  display: flex;
}